<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, content=user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>活动详情</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/activities.css">
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<!-- 头部 -->
<div class="back back_bg">
<header class="header">
    <a href="javascript:history.back(-1)"><span></span></a>
    标题
</header>
</div>
<div class="activities_details">
	<img src="/images/a1.jpg" alt="">
	<div class="activities_tit">
		标题
	</div>
	<p>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
	<div class="activities_fix">
		<div class="activities_fix_box">
			共计<span>￥2400.00</span>
			<a href="/custom/order">立即购买</a>
		</div>		
	</div>
</div>

<script type="text/javascript" src="/js/fastclick.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
</body>
</html>