<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, content=user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>订单确认</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/swiper.min.js"></script>
	
	 <script type="text/javascript" th:src="@{/js/main.js}"></script> 
<link rel="icon" type="image/x-icon" href="/images/mldn.ico"/>
<link href="/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css" rel="stylesheet">
<link href="/js/fileinput.min.css" rel="stylesheet">
<style type="text/css">
	.order_p_big{white-space: nowrap;overflow:hidden;text-overflow:ellipsis;}
	.order_add p {width: 95%;!important}
</style>
</head>
<body>
<!-- 弹出框 -->
 <div class="login" style="position: fixed; display: none;">
	<div class="login_tit">
	
		<span class="tit_cen">系统提示</span>
	</div>
	<div class="login_ph">
		<span class="sys_confim">尺码不允许为空</span>
		<div class="login_next"><span>确定</span></div>
	</div>
</div>  

	<!-- 头部 -->
	<div class="back back_bg">
		<header class="header">
			<a href="javascript:history.back(-1)"><span></span></a> 确认订单
		</header>
	</div>
	<div class="add_container">
		<form>
			<!-- 尺码选择 -->
			<div class="order_box order_size">
				<div class="order_size_tit pd10">
					尺码选择(已选
					<lable th:text="${sizesList?.size}" id="selectSize"></lable>
					) <span class="order_box_img"></span>
				</div>
				<div class="order_box_drop order_size_show pd10 order_box_up">
					<a href="#" th:each="webSize,sizeStat:${webSizesList}"
						th:class="${sizeStat.count==1}?'active'"> <label
						th:text="${webSize?.size}">29</label>
					</a>
				</div>
			</div>
			<!-- 选择颜色 -->
			<!-- (已选深蓝色) -->
			<div class="order_box order_color">
				<div class="order_color_tit pd10">
					颜色选择 (已选<label th:text="${colorList?.name}" id="selectColor"></label>)
					<span class="order_box_img"></span>
				</div>
				<div class="order_box_drop order_color_show pd10 order_box_up">
					<a href="#" th:each="webColor,colorStat:${webColorList}"
						th:class="${colorStat.count==1}?'active'"><span
						th:text="${webColor?.name}" th:id="${webColor?.id}"></span></a>
				</div>
			</div>
			<!-- 购买数量 -->
			<div class="order_box order_count pd10">
				购买数量
				<div class="count_fr">
					<span class="order_count_add">+</span> <input type="number"
						class="order_count_val" value="1"> <span
						class="order_count_rem">&minus;</span>
				</div>
			</div>
			<div class="order_box order_add pd10"
				th:each="confirmOrderVO:${confirmOrderVOList}">
				<!-- <a href="/custom/address" > -->
				<a href="#" th:onclick="'javascript:toAddress(\''+${webOrderGoods?.orderId}+'\',\''+${confirmOrderVO?.id}+'\')'" >

					<p class="order_p_big">
						名字：<span th:text="${confirmOrderVO?.name}" id="i_name">周旗</span>&emsp;电话：<span
							th:text="${confirmOrderVO?.mobile}" id="i_ipone">180****8888</span>
					</p>
					<p>
						详细地址 <span th:text="${confirmOrderVO?.addr}" id="i_addr">福建省厦门市思明区莲前街道护安路75号102（梅花大厦）</span>
					</p>
				</a>
<!-- 				<a th:href="@{/custom/address(orderId=${webOrderGoods?.orderId})}">

					<p class="order_p_big">
						名字：<span th:text="${confirmOrderVO?.name}" id="i_name">周旗</span>&emsp;电话：<span
							th:text="${confirmOrderVO?.mobile}" id="i_ipone">180****8888</span>
					</p>
					<p>
						详细地址 <span th:text="${confirmOrderVO?.addr}" id="i_addr">福建省厦门市思明区莲前街道护安路75号102（梅花大厦）</span>
					</p>
				</a> -->
			</div>
			<div class="order_box order_freight_price">
				<div class="order_freight_price pd10">
					快递 (运费 RMB 10.00) <span class="order_box_img"></span>

		</div>
		<div class="order_freight_price_show pd10 order_box_up">
			配送方式<br>快递 (运费 RMB 10.00) 
		</div>
	</div>
	<div class="order_box order_receipt pd10">
		发票
	</div>
	
	<!-- <div class="order_box">
		<div class="order_volume_tit pd10">优惠 (已使用6折优惠券)<span class="order_box_img"></span></div> 8折优惠券
		<div class="a_packet pd10 order_box_up" th:each="couponUser:${couponUserList}">
			<label>
				<input type="radio" th:value="${couponUser?.id}" th:text="${couponUser?.rank}" >
				<span class="yh_menu"></span>
			</label>
			<label for="">
				8折优惠券<input type="radio" value="">
				<span class="yh_menu"></span>
								
			</label>
			<label for="">
				8折优惠券<input type="radio" value="">
				<span class="yh_menu"></span>		
			</label>
		</div>
	</div> -->
	
	<!-- <div class="order_box">
		<div class="order_volume_tit pd10">红包(-RMB 280.00)<span class="order_box_img"></span></div>
		<div class="a_discount pd10 order_box_up">
			<label>
				280元红包<input type="radio" value="">
				<span class="yh_menu"></span>
			</label>
			<label for="">
				280元红包<input type="radio" value="">
				<span class="yh_menu"></span>						
			</label>
			<label for="">
				8折优惠券<input type="radio" value="">
				<span class="yh_menu"></span>		
			</label>
		</div>
	</div> -->
	
	<!-- <div class="order_box order_volume">
		<div class="order_volume_tit pd10">礼品卡及优惠卷 (-$80.00)<span class="order_box_img"></span></div>
		<div class="order_volume_show pd10 order_box_up">
			<input type="text" value="" placeholder="请输入卡号"><span class="volume_submit">确认</span>
		</div>
	</div> -->
	                                         
	<div class="order_box order_price pd10">
		<div class="order_price_fl">
			<p>小计：￥<span id="price_rem" th:text="${webOrderGoods?.price}">1760.99</span> <span class="price_fr">共 <span id="conuts">1</span>件商品</span></p>
			<p id="price_yf">运费：￥10.00</p>
			<!-- <p>优惠：￥10.00</p>
			<p>红包：￥10.00</p>
			<p>礼品卡：-￥80.00</p> -->
			<p class="price_one" th:id="${webOrderGoods?.price}">实付款：￥<span class="all_price" th:text="${(webOrderGoods?.price==null?0:webOrderGoods?.price)+10}">1690.99</span></p>
		</div>
	</div>
	<div>
		<input type="button" value="提交订单" class="add_submit" id="id_submit">
	</div>
		
	</form>
</div>

<script type="text/javascript" th:src="@{/js/fileinput.min.js}"></script> 
	<script type="text/javascript" th:src="@{/js/zh.js}"></script> 
	<script type="text/javascript" th:src="@{/js/fileutil.js}"></script> 

<script type="text/javascript" src="/js/fastclick.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
  function toAddress(orderId,addrId){
	  var orSize = $(".order_size_show .active").find("label").html();
	  var orColor = $(".order_color_show .active").find("span").attr("id");
	  window.location.href="/custom/address?orderId="+orderId+"&orSize="+orSize+"&orColor="+orColor+"&addrId="+addrId;
  }
</script>
<script th:inline="javascript">
	$(function() {
		var seSize = [[${orSize}]];
		var seColor = [[${orColor}]];
		if(seSize != null){
			$(".order_size_show a").each(function(){
				var val = $(this).find("label").text();
				if(seSize == val){
					$(this).siblings().removeClass("active");
					$(this).addClass("active");
					$("#selectSize").text(seSize);
				}
			});
		}

		if(seColor != null){
			$(".order_color_show a").each(function(){
				var coval = $(this).find("span").attr("id");
				var teval = $(this).find("span").text();
				if(seColor == coval){
					$(this).siblings().removeClass("active");
					$(this).addClass("active");
					$("#selectColor").text(teval);
				}
			});
		}



		$(".login_next").click(function(){
			$(".login").fadeOut();
		})
		function allPrice(){
			var allPrice = parseFloat($(".price_one").attr("id")) * parseFloat($(".order_count_val").val())
			console.log(allPrice)
			
			$("#price_rem").text(allPrice)
			$(".all_price").text(allPrice +10)
			$("#conuts").text(parseFloat($(".order_count_val").val()))
		}
		
		
		
		$(".a_packet label").click(function(){
			$(".a_packet .yh_menu").removeClass("active");
			$(this).find(".yh_menu").addClass('active')
			
		})
		
		$(".a_discount label").click(function(){
			$(".a_discount .yh_menu").removeClass("active");
			$(this).find(".yh_menu").addClass('active')
			
		})
		
		$(".order_count_rem").click(function(event) {
			var priceOne = $(".order_count_val").val();	
			if (priceOne <= 0) {	
				$(".order_count_val").val(0);
			}else{
				var priceOne = parseFloat(priceOne) - 1;
				$(".order_count_val").val(priceOne);
			}
			allPrice()
		});
		$(".order_count_add").click(function(event) {
			var priceOne = $(".order_count_val").val();
			if (priceOne >= 99) {
				var priceOne = $(".order_count_val").val();
				$(".order_count_val").val(99);
			}else{
				var priceOne = parseFloat(priceOne) + 1;
				$(".order_count_val").val(priceOne);
			}
			allPrice()
		});
		//收缩
		$(".order_box").click(function() {
			$(this).find(".order_box_up").not('.order_volume_show').slideToggle();
		});
		
/* 		$("#login_close").click(function(){
			$(".login").fadeOut;
		}) */
		$("#id_submit").click(function(){
			var orSzie = $(".order_size_show .active").find("label").html();
			var orColor = $(".order_color_show .active").find("span").attr("id");
			var orColorName = $(".order_color_show .active").find("span").text();
			var orCount = $(".order_count_val").val();
		    var allPrice=$(".all_price").text()
		    var name=$("#i_name").text();
			var phone=$("#i_ipone").text();
			var addr=$("#i_addr").text();			
			var id = [[${webOrderGoods?.id}]];
			var jeansId = [[${webOrderGoods?.jeansId}]];
			var jeansName = [[${webOrderGoods?.jeansName}]];
			var addrId = [[${confirmOrderVO?.id}]];
			var orderId = [[${webOrderGoods?.orderId}]];
			//alert(addrId)
			if(orSzie==null){
				$(".login").fadeIn();
				$(".sys_confim").html("请选择尺寸！")
				return;
			}
			
			if(orColor==null){
				$(".login").fadeIn();
				$(".sys_confim").html("请选择颜色！")
				return;
			}
			
			if(addrId==null){
				$(".login").fadeIn();
				$(".sys_confim").html("您尚未添加默认地址，请添加默认地址！")
				$(".login_next").bind("click",function(){
					window.location.href="/custom/toaddr?orderId="+orderId;
				});
				return;
			}else{
				$("#sure").unbind();
			}
			
			var userId = [[${webOrderGoods?.userId}]];
					
			var mprice=	Math.round(allPrice);
		
			if(orSzie == "undefined"){
				
			}else if(orCount == "undefined"){
				
			}else if(addrId==null){
				return;
			}
	    $.ajax({
            cache: true,
            type: "POST",
            dataType: "json",
            url: "/custom/xconfirmorder",
            data: {
                "userId": userId,
                "addrId": addrId,
                "orderId": orderId,
                "num": orCount,
                "color": orColorName,
                "size": orSzie,
                "jeansName": jeansName,
                "money": mprice
               
            },
            async: false,
            error: function (request) {
                alert("系统出问题了");
            },
            success: function (data) {
                if (data.code == 0) {
                	window.location.href="/custom/pay_menu?userId="+data.userId+"&orderId="+data.orderId+"&price="+data.price+"&addrId="+data.addrId+"&num="+data.num+"&jeansId="+jeansId;
                }
                else {
                    alert(data.msg);
                }
            }
        });
		
		
		})
		
		/* $(".order_box_up a").click(function() {
			$(this).parent().find("a").removeClass('active');
			$(this).addClass('active');
		}); */

		//尺码选择
		$(".order_size_show a").click(function() {
			$(this).parent().find("a").removeClass('active');
			$(this).addClass('active');
			var val = $(this).find("label").text();
			$("#selectSize").text(val);
		});
		//颜色选择
		$(".order_color_show a").click(function() {
			$(this).parent().find("a").removeClass('active');
			$(this).addClass('active');
			var val = $(this).find("span").text();
			$("#selectColor").text(val);
		});

	});
</script>
</body>
</html>