<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, content=user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>关于我们</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/packet.css">
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<!-- 头部 -->
<div class="back back_bg">
<header class="header">
    <a href="javascript:history.back(-1)"><span></span></a>
    红包
</header>
</div>
<div class="red_packet">
	<div class="packet_box">
		<div class="packet_fl">
			<p class="packet_big">预售款红包</p>
			<p class="packet_sm">有效期为 2018.1.1-2018.5.30</p>
		</div>
		<div class="packet_fr">280<span>&ensp;元</span></div>
	</div>
	<div class="packet_box">
		<div class="packet_fl">
			<p class="packet_big">通用红包</p>
			<p class="packet_sm">有效期为 2018.1.1-2018.5.30</p>
		</div>
		<div class="packet_fr">100<span>&ensp;元</span></div>
	</div>
</div>
	

<script type="text/javascript" src="/js/fastclick.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
</body>
</html>