<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SystemWebWashMapper">

	<resultMap type="SysWebWash" id="SysWebWashResult">
		 <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="cover_title" property="coverTitle" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_default" property="isDefault" jdbcType="INTEGER" />
    <result column="fixe_x" property="fixeX" jdbcType="VARCHAR" />
    <result column="fixe_y" property="fixeY" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<select id="pageInfoQuery" parameterType="PageUtilEntity" resultMap="SysWebWashResult">
		select * from sys_web_wash
		<where>
			<if test="searchValue != null and searchValue != ''">
				AND name = #{searchValue}
			</if>
			
		</where>
	</select>

	
	<select id="selectWebWashAll" resultMap="SysWebWashResult">
		SELECT * FROM sys_web_wash
	</select>  
	
	<select id="selectWebWashById" parameterType="Long" resultMap="SysWebWashResult">
		select *
		from sys_web_wash u
		where u.id = #{id}
	</select>
	
	
	
	<delete id="deleteWebWashById" parameterType="Long">
 		delete from sys_web_wash where id = #{id}
 	</delete>
 	
 	<delete id="batchDeleteWebWash" parameterType="String">
 		delete from sys_web_wash where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
 	
 	<update id="updateWebWash" parameterType="SysWebWash">
 		update sys_web_wash
 		<set>
 			<if test="type != null and type != ''">type = #{type},</if>
 			<if test="price != null">price = #{price},</if>
 			<if test="cover != null and cover != ''">cover = #{cover},</if>
 			<if test="coverTitle != null and coverTitle != ''">cover_title = #{coverTitle},</if>
 			<if test="name != null and name != ''">name = #{name},</if>
 			<if test="status != null and status != ''">status = #{status},</if>
 			<if test="isDefault != null and isDefault != ''">is_default = #{isDefault},</if>
 			<if test="fixeX !=null and fixeX != ''">fixe_x = #{fixeX},</if>		
 			<if test="fixeY != null and fixeY != ''">fixe_y = #{fixeY},</if>		
 			update_time = sysdate()
 		</set>
 		where 1=1
 		<if test="id != null">and id = #{id}</if>
	</update>
 	
 	<insert id="insertWebWash" parameterType="SysWebWash" useGeneratedKeys="true" keyProperty="id">
 		insert into sys_web_wash(
 			<if test="id != null and id != ''">id,</if>
 			<if test="name != null and name != ''">name,</if>
 			<if test="price != null">price,</if>
 			<if test="cover != null and cover != ''">cover,</if>
 			<if test="coverTitle != null and coverTitle != ''">cover_title,</if>
 			<if test="type != null and type != ''">type,</if>
 			<if test="status != null and status != ''">status,</if>
 			<if test="isDefault != null and isDefault != ''">is_default,</if>
 			<if test="fixeX !=null and fixeX != ''">fixe_x,</if>		
 			<if test="fixeY != null and fixeY != ''">fixe_y,</if>		
 			ctime ,update_time 
 		)values(
 			<if test="id != null and id != ''">#{id},</if>
 			<if test="name != null and name != ''">#{name},</if>
 			<if test="price != null">#{price},</if>
 			<if test="cover != null and cover != ''">#{cover},</if>
 			<if test="coverTitle != null and coverTitle != ''">#{coverTitle},</if>
 			<if test="type != null and type != ''">#{type},</if>
 			<if test="status != null and status != ''">#{status},</if>
 			<if test="isDefault != null and isDefault != ''">#{isDefault},</if>
 			<if test="fixeX !=null and fixeX != ''">#{fixeX},</if>		
 			<if test="fixeY != null and fixeY != ''">#{fixeY},</if>	
 			sysdate(),sysdate()
 		)
	</insert>
	
</mapper> 