<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SystemStartPhotoMapper">

	<resultMap type="StartPhoto" id="StartPhotoResult">
		<id     property="startPhotoId"       column="id"        />
		<result property="type"     column="type"      />
		<result property="file"   column="file"  />
	    <result property="title" column="title"/>
		<result property="ctime"   column="ctime"  />
	</resultMap>
	
	<select id="pageInfoQuery" parameterType="PageUtilEntity" resultMap="StartPhotoResult">
		select * from sys_start
		<where>
			<if test="searchValue != null and searchValue != ''">
				AND title = #{searchValue}
			</if>
		</where>
	</select>


	<select id="selectStartPhotoById" parameterType="Long" resultMap="StartPhotoResult">
		select *
		from sys_start u
		where u.id = #{startPhotoId}
	</select>



	<delete id="deleteStartPhotoById" parameterType="Long">
		delete from sys_start where id = #{startPhotoId}
	</delete>

	<delete id="batchDeleteStartPhoto" parameterType="String">
		delete from sys_start where id in
		<foreach collection="array" item="startPhotoId" open="(" separator="," close=")">
			#{startPhotoId}
		</foreach>
	</delete>

	<update id="updateStartPhoto" parameterType="StartPhoto">
		update sys_start
		<set>
			<if test="type != null and type != 0">type = #{type},</if>
			<if test="file != null and file != ''">file = #{file},</if>
			<if test="title != null and title != ''">title=#{title} ,</if>
		</set>
		where 1=1
		<if test="startPhotoId != null">and  id = #{startPhotoId}</if>
	</update>

	<insert id="insertStartPhoto" parameterType="StartPhoto" useGeneratedKeys="true" keyProperty="startPhotoId">
		insert into sys_start(
		<if test="type != null and type != 0">type,</if>
		<if test="file != null and file != ''">file ,</if>
		<if test="title != null and title != ''">title ,</if>
		ctime
		)values(
		<if test="type != null and type !=0">#{type},</if>
		<if test="file != null and file != ''">#{file},</if>
		<if test="title != null and title != ''">#{title},</if>
		sysdate()
		)
	</insert>

</mapper> 