<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SystemWebDesignerMapper">

	<resultMap type="SysWebDesigner" id="SysWebDesignerResult">
		  <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="colors_id" property="colorsId" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sizes_id" property="sizesId" jdbcType="VARCHAR" />
    <result column="buttons_id" property="buttonsId" jdbcType="VARCHAR" />
    <result column="wash_id" property="washId" jdbcType="VARCHAR" />
    <result column="threads_id" property="threadsId" jdbcType="VARCHAR" />
    <result column="is_tobuy" property="isTobuy" jdbcType="INTEGER" />
    <result column="parts_id" property="partsId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="word_size" property="wordSize" jdbcType="VARCHAR" />
    <result column="word_color" property="wordColor" jdbcType="VARCHAR" />
    <result column="word_content" property="wordContent" jdbcType="VARCHAR" />
    <result column="word_font" property="wordFont" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
     <result column="jeans_id" property="jeansId" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="pageInfoQuery" parameterType="PageUtilEntity" resultMap="SysWebDesignerResult">
		select * from sys_web_designer
		<where>
			<if test="searchValue != null and searchValue != ''">
				AND name = #{searchValue}
			</if>
			
		</where>
	</select>

	
	<select id="selectWebDesignerAll" resultMap="SysWebDesignerResult">
		SELECT * FROM sys_web_designer
	</select>  
	
	<select id="selectWebDesignerById" parameterType="Long" resultMap="SysWebDesignerResult">
		select *
		from sys_web_designer u
		where u.id = #{id}
	</select>
	
	
	
	<delete id="deleteWebDesignerById" parameterType="Long">
 		delete from sys_web_designer where id = #{id}
 	</delete>
 	
 	<delete id="batchDeleteWebDesigner" parameterType="String">
 		delete from sys_web_designer where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
 	
 	<update id="updateWebDesigner" parameterType="SysWebDesigner">
 		update sys_web_designer
 		<set>
 			<if test="type != null">type = #{type},</if>
 			<if test="code != null and code != ''">code = #{code},</if>
 			<if test="name != null and name != ''">name = #{name},</if>
 			<if test="status != null">status = #{status},</if>
 			<if test="colorsId != null and colorsId != ''">colors_id = #{colorsId},</if>
 			<if test="remark != null and remark != ''">remark = #{remark},</if>
 			<if test="sizesId != null and sizesId != ''">sizes_id = #{sizesId},</if>
 			<if test="buttonsId != null and buttonsId != ''">buttons_id = #{buttonsId},</if>
 			<if test="threadsId != null and threadsId != ''">threads_id = #{threadsId},</if>
 			<if test="isTobuy != null and isTobuy != ''">is_tobuy = #{isTobuy},</if>
 			<if test="partsId != null and partsId != ''">parts_id = #{partsId},</if>
 			<if test="washId != null and washId != ''">wash_id = #{washId},</if>
 			<if test="jeansId != null">jeans_id = #{jeansId},</if>
 			<if test="wordSize != null and wordSize != ''">word_size = #{wordSize},</if>
 			<if test="wordColor != null and wordColor != ''">word_color = #{wordColor},</if>
 			<if test="wordContent != null and wordContent != ''">word_content = #{wordContent},</if>
 			<if test="wordFont != null and wordFont != ''">word_font = #{wordFont},</if>
 			
 			update_time = sysdate()
 		</set>
 		where 1=1
 		<if test="id != null">and id = #{id}</if>
	</update>
 	
 	<insert id="insertWebDesigner" parameterType="SysWebDesigner" useGeneratedKeys="true" keyProperty="id">
 		insert into sys_web_designer(
 			<if test="id != null and id != ''">id,</if>
 			<if test="type != null">type,</if>
 			<if test="code != null and code != ''">code,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="jeansId != null">jeans_id,</if>
 			<if test="name != null and name != ''">name,</if>
 			<if test="status != null">status,</if>
 			<if test="colorsId != null and colorsId != ''">colors_id,</if>
 			
 			<if test="washId != null and washId != ''">wash_id,</if>
 			<if test="sizesId != null and sizesId != ''">sizes_id,</if>
 			<if test="buttonsId != null and buttonsId != ''">buttons_id,</if>
 			<if test="threadsId != null and threadsId != ''">threads_id,</if>			
 			<if test="isTobuy != null and isTobuy != ''">is_tobuy,</if>
 			<if test="partsId != null and partsId != ''">parts_id,</if>	
 			
 			<if test="wordSize != null and wordSize != ''">word_size,</if>
 			<if test="wordColor != null and wordColor != ''">word_color,</if>
 			<if test="wordContent != null and wordContent != ''">word_content,</if>
 			<if test="wordFont != null and wordFont != ''">word_font,</if>
 			ctime ,update_time 
 		)values(
 			<if test="id != null and id != ''">#{id},</if>
 			<if test="type != null">#{type},</if>
 			
 			<if test="code != null and code != ''">#{code},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 		     <if test="jeansId != null">#{jeansId},</if>
 			<if test="name != null and name != ''">#{name},</if>
 			<if test="status != null">#{status},</if>
 			<if test="colorsId != null and colorsId != ''">#{colorsId},</if>
 			
 			<if test="washId != null and washId != ''">#{washId},</if>
 			<if test="sizesId != null and sizesId != ''">#{sizesId},</if>
 			<if test="buttonsId != null and buttonsId != ''">#{buttonsId},</if>
 			<if test="threadsId != null and threadsId != ''">#{threadsId},</if>
 			<if test="isTobuy != null and isTobuy != ''">#{isTobuy},</if>
 			<if test="partsId != null and partsId != ''">#{partsId},</if>
 			
 			<if test="wordSize != null and wordSize != ''">#{wordSize},</if>
 			<if test="wordColor != null and wordColor != ''">#{wordColor},</if>
 			<if test="wordContent != null and wordContent != ''">#{wordContent},</if>
 			<if test="wordFont != null and wordFont != ''">#{wordFont},</if>
 			sysdate(),sysdate()
 		)
	</insert>
	
</mapper> 