<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<script src="/css/plugins/moment/moment.js" type="text/javascript"></script>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="btn-group hidden-xs" id="tableToolbar" role="group">
			<button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:add()'" shiro:hasPermission="system:recommend:add" >
                <i class="glyphicon glyphicon-plus"></i>
            </button>
			<button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:batchRemove()'" shiro:hasPermission="system:recommend:batchRemove">
	            <i class="glyphicon glyphicon-trash"></i>
	        </button>
        </div>
		<table class="bootstrap-table" data-mobile-responsive="true" 
			   data-sort-name="price" data-sort-order="asc">
		</table>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/jwk/system/recommend/recommend.js"></script>
</body>
</html>