<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header">
<meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>
</head>
<script type="text/javascript" th:src="@{/js/main.js}"></script> 
<link rel="icon" type="image/x-icon" href="/images/mldn.ico"/>
<link href="/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css" rel="stylesheet">
<link href="/js/fileinput.min.css" rel="stylesheet">
<body class="white-bg">

	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form enctype="multipart/form-data" class="form-horizontal m" id="form-order-check"  method="post" th:action="@{/system/order/upload}">
			<div class="form-group">
				<label class="col-sm-3 control-label ">订单编号：</label>
				<div class="col-sm-8">
					<p th:text="${registerUser.mobile}"> </p>
					<input class="form-control" type="hidden" name="orderId" id="orderId" th:value="${sysOrder?.orderId}">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">下单用户：</label>
				<div class="col-sm-8">
					<p><label style="color: red">昵称： </label><label th:text="${registerUser?.nickname}"></label> </p>
					<p><label style="color: red">手机号： </label><label th:text="${registerUser?.mobile}"></label> </p>
					<p><label style="color: red">总价： </label><label th:text="${sysOrder?.money}"></label> </p>
					<p><label style="color: red">数量： </label><label th:text="${sysOrder?.num}"></label> </p>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">商品信息：</label>
				<div class="col-sm-8">
					<p><label style="color: red">商品名称： </label><label th:text="${sysOrderGoods?.jeansName}"></label> </p>
					<p><label style="color: red">商品价格： </label><label th:text="${sysOrderGoods?.price}"></label> </p>
					<p><label style="color: red">商品描述： </label><label th:text="${sysOrderGoods?.jeansDesc}"></label> </p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">选中尺码：</label>
				<div class="col-sm-8">
				<p><label style="color: red">尺码大小： </label><label th:text="${selectSize?.sizeIdx}"></label> </p>
					<p><label style="color: red">尺码描述： </label><label th:text="${selectSize?.descipt}"></label> </p>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">选中布料：</label>
				<div class="col-sm-8">
				<p><label style="color: red">布料名称： </label><label th:text="${buLiao?.name}"></label> </p>
					<p><label style="color: red">布料编码： </label><label th:text="${buLiao?.num}"></label> </p>
					<p><label style="color: red">布料价格： </label><label th:text="${buLiao?.price}"></label> </p>
					<p><label style="color: red">布料图片： </label><img th:src="@{${buLiao?.attachmentUrl}}" width="142" height="122" alt="图片" id="fileimg"/> </p>
					<p><label style="color: red">布料贴图： </label><img th:src="@{${buLiao?.iconPicUrl}}" width="142" height="122" alt="贴图" id="fileimg"/> </p>
					<p><label style="color: red">布料描述： </label><label th:text="${buLiao?.des}"></label> </p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">选中配件：</label>
				<div class="col-sm-8">			
					<table>
		<tr><td style="color: red">配件名称&nbsp;&nbsp;&nbsp;</td><td style="color: red">配件区域&nbsp;&nbsp;&nbsp;&nbsp;</td><td style="color: red">配件编码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style="color: red">配件价格&nbsp;&nbsp;&nbsp;</td><td style="color: red">配件坐标&nbsp;&nbsp;&nbsp;&nbsp;</td><td style="color: red">配件图片</td></tr>
		<tr th:each="patternAll:${patternAllList}">
			<td th:text="${patternAll?.name}"/>
			<td th:text="${patternAll?.fqId}"/>
			<td th:text="${patternAll?.num}"/>
			<td th:text="${patternAll?.price}"/>
			<td th:text="${'X:'+patternAll?.areaLimit.X+'&nbsp;&nbsp;Y:'+patternAll?.areaLimit.Y+'&nbsp;&nbsp;Z:'+patternAll?.areaLimit.Z}"/>
			<td><img th:src="@{${patternAll?.attachmenturl}}" width="42" height="22" alt="图片" id="prepic"/></td>
		</tr>
	</table>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">效果图：</label>
				<div class="col-sm-8">
				<label th:each="patternAll:${patternAllList}"><img th:src="@{${patternAll?.icopicurl}}" width="142" height="122" alt="图片" id="prepic"/> </label>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">物流信息：</label>
				<div class="col-sm-8">
					<p><label >订单状态： </label><span th:switch="${sysOrder?.payStatus}">
					<label th:case="0" style="color: red">支付失败</label>
		          <label th:case="1" style="color: red">已支付(待生产)</label>
		          <label th:case="2" style="color: red">已支付（已生产）</label>
		          <label th:case="3" style="color: red">待支付</label>
		          <label th:case="4" style="color: red">已发货</label>
		           <label th:case="5" style="color: red">完成</label>
		          <label th:case="*" style="color: red">没有匹配成功的数据！</label>
					</span> </p>
					<p><label style="color: red">收货地址： </label><label th:text="${sysAreaProvince?.name+'&nbsp;&nbsp;'+sysAreaCity?.name+'&nbsp;&nbsp;'+sysArea?.name+'&nbsp;&nbsp;'+sysAddress?.addr}"></label> </p>
					<p><label style="color: red">联系人： </label><label th:text="${sysAddress?.linkman}"></label> </p>
					<p><label style="color: red">联系电话： </label><label th:text="${sysAddress?.mobile}"></label> </p>
					<p><label style="color: red">用户留言： </label><label th:text="${sysOrder?.remark}"></label> </p>
				</div>
			</div>
			
			
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="button" class="btn btn-primary"  onclick="submitForm()">保存</button>
					<!-- <button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">关闭</button> -->
					<button onclick="javascript:history.back(-1);" class="btn btn-danger" type="button">返回</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script src="/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js"></script>
	 <script src="/ajax/libs/jquery-ztree/3.5/js/ajaxfileupload.js" type="text/javascript"></script>
	<script type="text/javascript" th:src="@{/js/fileinput.min.js}"></script> 
	<script type="text/javascript" th:src="@{/js/zh.js}"></script> 
	<script type="text/javascript" th:src="@{/js/fileutil.js}"></script> 
	<script type="text/javascript">
	function submitForm(){
		$("#form-order-check").submit()
		window.history.back(-1);
		//window.parent.location.reload();
	}
	</script>
</body>
</html>

